*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
     background-color: rgba(233, 198, 146, 0.281);
    display: flex;
    justify-content: center;
}
.box1{
     width: 70%;
    text-align: center;
}
 h1 , h2{
    color: rgb(136, 92, 39);

 }
.box2{
    justify-content: center;
align-items: center;

}
.col{
     display: flex;
    justify-content: center;
    align-items: center;
}
.plyer{
     display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.plyer h2{
    margin-left: 30px;
}
.box3{
    border-radius: 5px;
 
    border: 1px solid black;
     display: flex;
    justify-content: center;
}
img{
    width:250px;
    height: 250px;
}
.img{
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
 
.box4{
     padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .box4 button{
    margin: 15px;
    color: rgb(10, 10, 10);
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 20px;
    background: #fff;
  } 
  .box4 button:hover{
background: rgb(70, 66, 66);
color: #fff;
  } 
  .span{
    background: #fff;
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
    width: 100%;
    border-radius: 5px;
    
  } 
@media screen and ( max-width:800px){
 .box4{
    flex-direction: column;
 }
 img{
    width:170px;
    height: 170px;
}
 .box4 button{
    width: 110px;
 }
 }   
 